/* =====================================
   YASEEN E-COMMERCE STORE
   Global Design Variables
===================================== */

:root{

/* Brand Colors */

--primary:#2563eb;
--primary-dark:#1e40af;

--secondary:#0f172a;

--accent:#f59e0b;

--success:#22c55e;

--danger:#ef4444;

--warning:#facc15;

--light:#f8fafc;

--white:#ffffff;

--gray:#64748b;

--dark:#0f172a;

--border:#e2e8f0;



/* Text */

--text-dark:#1e293b;

--text-light:#64748b;



/* Fonts */

--font-family:'Poppins',sans-serif;



/* Font Size */

--fs-xs:12px;

--fs-sm:14px;

--fs-md:16px;

--fs-lg:18px;

--fs-xl:22px;

--fs-2xl:28px;

--fs-3xl:36px;

--fs-4xl:48px;



/* Font Weight */

--fw-light:300;

--fw-normal:400;

--fw-medium:500;

--fw-semibold:600;

--fw-bold:700;

--fw-extra:800;



/* Border Radius */

--radius-sm:6px;

--radius-md:12px;

--radius-lg:18px;

--radius-xl:25px;

--radius-round:50%;



/* Shadows */

--shadow-sm:0 2px 10px rgba(0,0,0,.08);

--shadow-md:0 8px 25px rgba(0,0,0,.12);

--shadow-lg:0 20px 45px rgba(0,0,0,.18);



/* Transition */

--transition:.35s ease;



/* Container */

--container:1320px;



/* Navbar */

--navbar-height:80px;



/* Z Index */

--z-navbar:1000;

--z-modal:5000;

--z-dropdown:1500;



/* Spacing */

--space-1:5px;

--space-2:10px;

--space-3:15px;

--space-4:20px;

--space-5:30px;

--space-6:40px;

--space-7:60px;

--space-8:80px;

}